body,
div,
img,
span,
p {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
    background-color: white;
}

.logo {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    background-color: #999;
}

#box {
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
    overflow: auto;
}

#information {
    padding: 20px;
    padding-top: 0px;
    width: 160px;
    background-color: white;
    border: 1px solid #999;
    float: left;
}

#information p {
    width: 70px;
    height: 80px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 0px;
    float: right;
}

#about {
    background-color: white;
    border: 1px solid #999;
    margin-left: 220px;
    margin-right: 140px;
    padding: 20px;
}

#logobox {
    padding: 20px;
    padding-top: 0px;
    background-color: white;
    width: 80px;
    border: 1px solid #999;
    float: right;
}